[submodule "node_modules/ws"]
	path = node_modules/ws
	url = https://github.com/websockets/ws.git
[submodule "node_modules/ultron"]
	path = node_modules/ultron
	url = https://github.com/primus/ultron.git
[submodule "node_modules/portfinder"]
	path = node_modules/portfinder
	url = https://github.com/http-party/node-portfinder.git
[submodule "node_modules/ms"]
	path = node_modules/ms
	url = https://github.com/zeit/ms.git
[submodule "node_modules/mkdirp"]
	path = node_modules/mkdirp
	url = https://github.com/substack/node-mkdirp.git
[submodule "node_modules/minimist"]
	path = node_modules/minimist
	url = https://github.com/substack/minimist.git
[submodule "node_modules/async"]
	path = node_modules/async
	url = https://github.com/caolan/async.git
[submodule "node_modules/debug"]
	path = node_modules/debug
	url = https://github.com/visionmedia/debug.git
[submodule "node_modules/https:/github.com/primus/ultron.git"]
	path = node_modules/https:/github.com/primus/ultron.git
	url = https://github.com/websockets/ws.git
[submodule "node_modules/--force"]
	path = node_modules/--force
	url = https://github.com/visionmedia/debug.git
[submodule "node_modules/node-portfinder"]
	path = node_modules/node-portfinder
	url = https://github.com/http-party/node-portfinder.git
[submodule "node_modules/node-mkdirp"]
	path = node_modules/node-mkdirp
	url = https://github.com/substack/node-mkdirp.git
